.item-button button{
    margin-top: 20px;
    width: 200px;
    background-color: rgb(79, 128, 0);
}
.cart-items{
    padding-left: 20px;
    padding-right: 30px;
    cursor: pointer;
    font-weight: bold;
}

.cart-items p {
    margin-top: 10px;
    font-weight: bold;
}